.about-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 60vw;
  padding: 4vw 6vw;
  background-color: #f2ebe9;
  border-radius: 20px;
}

.photo-me {
  width: 25vw;
  height: 25vw;
  margin-right: 40px;
  border-radius: 15px;
}


.details {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
  line-height: 2.2vw;
  margin-top: 20px;
}

@media screen and (min-width: 1300px) { 
  .about-container {
    width: 800px;
    padding: 51px 77px;
    background-color: #f2ebe9;
    border-radius: 20px;
  }
  
  .photo-me {
    width: 320px;
    height: 320px;
    margin-right: 40px;
    border-radius: 15px;
  }
  
  
  .details {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 30px;
    margin-top: 20px;
  }
}
