@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
html, body {
  /* overflow-x: clip; */
}

body {
  background-color: #eddcd9;
  font-family: 'Righteous', cursive;
}
 .content{
  font-family: 'Righteous', cursive;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
 }



.rectangle1 {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60%;
  right: 0;
  width: 1600px;
  height: 450vh;
  background-color: #eddcd9;
  opacity: 1;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #de5499;
}

.rectangle2 {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60%;
  right: 0;
  width: 1500px;
  height: 450vh;
  background-color: #eddcd9;
  opacity: 1;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #4f777b;
}
.rectangle3 {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60%;
  right: 0;
  width: 1500px;
  height: 450vh;
  background-color: #eddcd9;
  opacity: 1;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #e99f4c;
}
.rectangle4 {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60%;
  right: 0;
  width: 1700px;
  height: 450vh;
  background-color: #eddcd9;
  opacity: 1;
  border-left-style: solid;
  border-left-width: 5px;
  border-left-color: #ff8beb;
}
.rectangle5 {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -60%;
  right: 0;
  width: 1000vw;
  height: 450vh;
  flex-grow: 1;
  background-color: #eddcd9;
  opacity: 1;
  border-left-style: solid;
  border-left-width: 6px;
  border-left-color: #92dae6;
}



section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 3.5vw;
  font-weight: 100;
  margin-top: 0;
 } 

.nav {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  width: calc(100% - 1.5rem);
  background-color: #f2ebe9;
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  font-family: 'Righteous', cursive;
  color: #de5499;
 

}

.nav__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.nav__container__actions {
  display: inline-flex;
  flex-flow: row nowrap;
  padding-left: 50px;
  flex: 1;
}

.active {
  color:#e99f4c;
}

ul {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

.content {
  color: #264143;
}


.website-links {
display: flex;
flex-direction: row;
margin-left: auto;
margin-right: 20px;
align-items: center;
}

a {
  font-size: 1.5em;
}

@media screen and (max-width: 768px) { 
  a {
    font-size: 2.7vw;
  }
}




#projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1 {
  text-align: center;
  font-size: calc(10px + 5vw);
  margin-bottom: 50px;
  margin-top: 0px;
}
