.contact-section {
  display: flex;
}

.left-container {
  margin-right: 1em;
}
.contact-form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  max-width: 80vw;
}
.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-form:hover {
  box-shadow: 0.125rem 0.125rem 0.25rem 0.125rem rgb(0 0 0 / 20%);
}

.contact-form input {
  background-color: #f2ebe9;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.contact-intro {

  font-family: "Lato", sans-serif;
}

.contact-form textarea {
  background-color: #f2ebe9;
  border: 0;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  border: none;
  resize: none;
}

.contact-form label {
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 30px;
  color: #de5499;
}

.contact-form button {
  background-color: #e99f4c;
  color: #f2ebe9;
  align-self: center;
  border: 0;
  padding: 10px 20px;
  font-family: "Righteous", cursive;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
  margin-top: 25px;
}

.contact-form p {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #de5499;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  .contact-form {
    padding: 3vw 8vw;
    width: 35vw;
  }

  .contact-form input {
    font-size: 1.8vw;
  }

  .contact-form textarea {
    font-size: 1.8vw;
  }

  .contact-form label {
    font-size: 2.4vw;
  }

  .contact-form button {
    font-size: 2vw;
  }
}
