.contact-form {
  display: flex;
  flex-direction: column;
  padding: 5vw 8vw;
  background-color: #f2ebe9;
  border-radius: 25px;
  width: 35vw;
}

.contact-form input {
  background-color: #eddcd9;
  border: #de5499 1px solid;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 2vw;
  margin-top: 30px;

}

.contact-form textarea {
  background-color: #eddcd9;
  border: 0;
  border-radius: 5px;
  font-size: 2vw;
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  border: #de5499 1px solid;
  margin-top: 30px;
}

.contact-form button {
  background-color: #e99f4c;
  color: #f2ebe9;
  align-self: center;
  border: 0;
  padding: 10px 20px;
  font-family: "Righteous", cursive;
  font-weight: 600;
  font-size: 2.4vw;
  border-radius: 15px;
  margin-top: 25px;
}
