.name {
  color: #92dae6;
  animation: change-color 5s infinite;
}

@keyframes change-color {
  0% {
    color: #92dae6;
  }
  25% {
    color: #4f777b;
  }
  50% {
    color: #e99f4c
  }
  75% {
    color: #ff8beb;
  }
}

.greeting {
  font-size: 8vw;
  font-weight: bold;

}