.projects-container {
  margin-top: 20vh;
} 

.carousel-container {
  background-color: #f2ebe9;
  max-width: fit-content;
  padding: 30px;
  margin-right: 20px;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  border-radius: 10px;
}

ul {
  gap: 0rem !important;
}

ul.control-dots { 
  display: flex;
  justify-content: center;
  margin-top: 30px;
 } 

.carousel-container img {
  width: 100px;
  height: 400px;
  object-fit: cover;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
margin-bottom: 30px;
}

.carousel-container a {
  display: flex;
  font-size: 25px;
  justify-content: center;
  color: #de5499;
  text-decoration: none;
}

.carousel-container p {
  font-family: "Lato", sans-serif;
  font-weight: 900;

}

.item {
  margin-bottom: 100px;
}

a:hover {
  color: #e99f4c;
}

.carousel-container li {
  text-decoration: none;
}

 @media screen and (max-width: 1500px) {
  .carousel-container {
    width: 40vw;
    padding: 2vw;
  }
 

  .carousel-container img {
    width: 35vw;
    height: 30vw;

  }
  .carousel-container a {
    font-size: 1.8vw;
  }
  .carousel-container p {
  font-size: 1.2vw;
  
  }

  .item {
    margin-bottom: 10vw;
  }
  
}