
.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90rem;

}

.item {
  background-color: #f2ebe9;
  border-radius: 5px;
  padding: 30px;

}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-container img {
 max-width: 400px;
}

.item a {
  text-decoration: none;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: center;
}


.project-tech-stack{
  display: flex;
  justify-content: center;
  width: inherit;
}

.stack-item {
  display: flex;
  flex-wrap: wrap;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  border: 1.5px solid black;
  padding: 4px;
}

.item p {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
}

.item h1 {
  margin: 10px 0px;
  color:  #de5499;
  font-size: 2.5rem;
}

@media screen and (max-width: 2100px){ 
  .projects-container {
    width: 60rem;
  }

}

@media screen and (max-width: 1500px){ 
  .projects-container {
    width: 30rem;
  }
 
 }

 @media screen and (max-width: 900px){ 
.item {
  width: 15rem;
}

.image-container img {
  width: 15rem;
}
 
 }